{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block menu %}
		<a href="{% url 'blog:create_blog' %}" title="create new article"><button type='button' class='btn btn-primary font-weight-bold'>Add new article</button></a>
{% endblock %}

{% block content %}
		
	<div class='row justify-content-center'>
    	<div class="mx-auto"><h2 class='font-weight-bold'>Articles</h2></div>
	</div>
    {% for article in article_list %}
	    <div class="card">
	 		<div class="card-header bg-primary text-white">
	    		<h3>{{ article.title }}</h3>
	  		</div>
	  		<div class="card-body alert alert-primary text-body">
		    	<h5 class="card-title">Author: {{ article.author }}</h5>
		    	<a href="{% url 'blog:article' article.pk%}" class="btn bg-warning">More...</a>
	  		</div>
		</div>
    {% endfor %}
{% endblock %}